fieldset {
  border: 2px black solid;
  margin: 0 5em 2em 0;
}

legend {
  text-transform: uppercase;
  font-weight: bold;
}

input {
  margin-bottom: 5px;
  background-color: #ffc600; 
  /*I know I can just write yellow here, but that neon yellow color was way too offensive.*/
}

#last_name {
  font-weight: bold;
}

#submit {
  margin-top: 5px;
}

#footnote {
  font-size: 65%;
  font-style: italic;
  margin-bottom: 0;
}

